*{
  box-sizing: border-box;
}
.calculator-container{
  display: flex;
  flex-direction: column;
  height: 780px;
  width: 520px;
}
.input-window{
  width: 100%;
  height: 16%;
  display:flex;
  background: #1C1C1C;
  align-items: flex-end;
  justify-content: flex-end;
}
.input-window--text{
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  margin: 10px;
  font-size: 40px;
}
.ui-container{
  height:84%
}
.button-container{
  display:flex;
  flex-direction: row;
  width: 100%;
  height: 16%;
}
.button{
  height: 100%;
  width: 25%;
  border: 0;
  padding: 0;
  background: #D4D4D2;
  font-family: Trebuchet, Arial, sans-serif;
  font-size: 30px;
}
.button--clear{
  width:50%;
}
.button--operator{
  background: #FF9500;
  color: white;
}
.button--num__zero{
  width: 75%;
}
.button--equals{
  background: #FF9500;
  color: white;
}
.button:hover{
  background: #dadad8;
}
.button:active{
  background: #c1c1be;
}
.button--operator:hover{
  background: #ffaa33;
}
.button--operator:active{
  background: #e08506;
}
.button--equals:hover{
 background: #ffaa33;
}
.button--equals:active{
  background: #e08506;
}
